p{
    color: black;
}

img{
    padding: 10px;
    border: 2px solid blue;
}

#image_1{
    position: absolute; top: 180px; left: 700px;
}

#image_2{
    position: absolute; top: 320px; left: 40px;
}